server:
  port: 8080

spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:postgresql://localhost:5432/payment_db  # localhost, потому что порт проброшен
    username: arvi
    password: 123456
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: validate   # validate часто ломается, лучше временно update для тестов
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      acks: all
      retries: 3
      properties:
        linger.ms: 5
    consumer:
      group-id: payment-service-group
      auto-offset-reset: earliest



management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers




logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.kafka: INFO


notification:
  base-url: "http://217.29.121.129/notification_api"
  username: "uzumtechservices"      # сюда merchantId или login из регистрации
  password: "mtzmmzvhotetyza0oc"   # пароль из регистрации
  timeout-ms: 5000


